.copy-right-footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 69, 69);
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
h3{
    color: white;
    background-color: black;
}
body {
    background-image: url("monster-line-art-doodle-pattern-design-vector_90573-639.avif");
    }